body {
    margin: 0;
    background: white;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.top {
    background: #1F2937;
    flex-wrap: nowrap;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0 10%;
}

.buttons {
    justify-content: flex-start;
}

button {
    padding: 4px 16px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #3882F6;
}

.hero {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.left-logo {
    color: white;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}


/* .hero {
    background: #1F2937;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    color: #E5E7EB;
    list-style-type: none;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    flex-wrap: wrap;
}

ul {
    display: flex;
    margin: 0 0 8px 0;
    padding: 0;
    gap: 16px;
    flex-wrap: wrap;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 16px;
} */