body {
    margin: 0 10%;
    background: #1F2937;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
  
ul {
    list-style-type: none;
}

.screen {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
  
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header-logo, .links {
    display: flex;
    align-items: center;
    gap: 16px;
    white-space: nowrap;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8
}

.links {
    font-size: 18px;
}

.rectangle-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-left {
    display: flex;
    flex-wrap: wrap;
    width: 41%;
    gap: 20px;
}

.hero-right {
    display: flex;
    height: 40%;
    width: 50%;
}

img {
    height: 250px;
    width: 100%;
    object-fit: fill;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
}
